<% if @message.errors.any? %>
  <div class="error-block">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited this update from being saved:</h2>
     <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Post a Private Message</h3>
<%= form_for([@project, @message]) do |f| %>

   <div class="field">
    <%= f.label :content, 'Message Content'%><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.hidden_field :private, value: true %>
  </div>

   <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
