<h1>Survey</h1>
<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
     <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
 <%= form_for(user) do |f| %>
 <p>
   <%= f.label :job_field %><br>
   <%= f.text_field :job_field %>
 </p>
 <p>
   <%= f.label :interests %><br>
   <%= f.text_field :interests %>
 </p>

   <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
