<% if current_user %>
  <% if current_user.id == @project.members.where(owner: true).first.user_id %>
    <%= link_to 'Edit this project', edit_project_path(@project) %> | <%=
    link_to 'Delete', project_path(@project), :method => :delete %> |
    <%=
    link_to 'Back', projects_url %>

  <% end %>
<% end %>

<h1><%= @project.name.titlecase %></h1>

<h3>Owner</h3>
<p>
  <%= link_to (@owner.first_name.capitalize + ' ' +@owner.last_name.capitalize), user_path(@owner) %>
</p>

<h3>Collaborators</h3>
<p>
  <% @project.members.each do |member| %>
    <% if member.approved == true %>
      <p>
        <%= link_to (member.user.name.titlecase), user_path(member.user_id) %>
      </p>
    <% end %>
  <% end %>
</p>

<% if @project.description %>
  <h3>Description</h3>
  <p>
    <%= @project.description.humanize %>
  </p>
<% end %>

<h3>Categories</h3>
<%= @categories.inspect %>
<br>
<% Category.all.each do |category| %>
  <%= category.inspect %> <br>
<% end %>
<% @project.each do |category| %>
  <%= category.inspect %> <br>
<% end %>
