<% if current_user %>
  <% if current_user.id == @project.members.where(owner: true).first.user_id %>
    <%= link_to 'Edit this project', edit_project_path(@project) %> | <%=
    link_to 'Delete', project_path(@project), :method => :delete %> |
    <%=
    link_to 'Back', projects_url %>

  <% end %>
<% end %>

<h1><%= @project.name.titlecase %></h1>

<h3>Owner</h3>
<p>
  <%= link_to (@owner.first_name.capitalize + ' ' +@owner.last_name.capitalize), user_path(@owner) %>
</p>

<h3>Collaborators</h3>
<p>
  <% @project.members.each do |member| %>
    <% if member.approved == true %>
      <p>
        <%= link_to (member.user.name.titlecase), user_path(member.user_id) %>
      </p>
    <% end %>
  <% end %>
</p>

<% if @project.description %>
  <h3>Description</h3>
  <p>
    <%= @project.description.humanize %>
  </p>
<% end %>

<% if @visitor_msgs %>
  <div class="vistor-msgs">
    <h3>Visitor Messages</h3>
    <% @visitor_msgs.each do |msg| %>
      <div class="message">
        <p><%= msg.content %></p>
        <p>Posted by <%= User.find(msg.user_id).first_name.capitalize %> <%= User.find(msg.user_id).last_name.capitalize %> on <%= msg.created_at.strftime("%a %b %e, %Y") %> at <%= msg.created_at.strftime("%I:%M%p") %></p>
      </div>
    <% end %>
  </div>
<% end %>
