<h1><%= @project.name.titlecase %></h1>

<h3>Owner</h3>
<p>
  <%= @owner.first_name.capitalize %> <%=@owner.last_name.capitalize %>
</p>

<h3>Collaborators</h3>
<p>
  <% @project.members.each do |member| %>
    <% if member.approved == true %>
      <p>
        <%= member.user.name.titlecase %>
      </p>
    <% end %>
  <% end %>
</p>

<% if @project.description %>
  <h3>Description</h3>
  <p>
    <%= @project.description.humanize %>
  </p>
<% end %>
