<% if current_user %>
  <% if current_user.id == @project.members.where(owner: true).first.user_id %>
    <%= link_to 'Edit this project', edit_project_path(@project) %> | <%=
    link_to 'Delete', project_path(@project), :method => :delete %>
  <% end %>
<% end %>

<h1><%= @project.name.titlecase %></h1>

<h3>Owner</h3>
<p>
  <%= @owner.first_name.capitalize %> <%=@owner.last_name.capitalize %>
</p>

<h3>Collaborators</h3>
<p>
  <% @project.members.each do |member| %>
    <% if member.approved == true %>
      <p>
        <%= member.user.name.titlecase %>
      </p>
    <% end %>
  <% end %>
</p>

<% if @project.description %>
  <h3>Description</h3>
  <p>
    <%= @project.description.humanize %>
  </p>
<% end %>
