<h1><%= @category.category_type %></h1>
<div class="category-projects-container">
  <% @category.projects.each do |project| %>
  <article class="project-item">
    <figure class="project-image">
      <% if project.image %>
        <%= link_to project_path(project) do %>
          <% if project.image.attached? %>
          <%= image_tag project.image %>
          <% else %>
            <%= image_tag "default.jpg" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to project_path(project) do %>
          <%= image_tag "default.jpg" %>
        <% end %>
      <% end %>
    </figure>
    <p>
      <%= link_to project.name, project_path(project) %>
    </p>
  </article>
<% end %>
</div>
