<!DOCTYPE html>
<html>
  <head>
    <title>Collabz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <p class="userinfo">
        <%= link_to 'Home', projects_path %> <br>
        <% if current_user %>
        Welcome <%= current_user.name %>! <br>
        <%= link_to 'My Profile', user_path(current_user) %> <br>
        <%= link_to 'Projects', projects_url %> <br>
        <%= link_to 'Log out', session_path(current_user), method: :delete %> <br>
        <%= link_to 'Create Project', new_project_url %>

        <br>

        <% else %>
        <%= link_to 'Sign up', new_user_path %> |
        <%= link_to 'Log in', new_session_path %>
        <% end %>
      </p>


    </header>

    <%= yield %>
  </body>
</html>
