<!DOCTYPE html>
<html>
<head>
  <title>Collabz</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <href="https://fonts.googleapis.com/css?family=Noto+Serif|Raleway" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <header>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <div class="top-nav">
        <div class="top-nav-logo">
          <%= link_to 'Project Space', projects_path, class: "logo" %>
          <% if current_user %>

          Welcome <%= current_user.name %>!
        </div>
      </div>

      <nav class="main-nav">
        <ul>

          <li>
            <%= link_to 'Home', projects_path, class: "current" %>
            <li>
              <%= link_to 'Profile', user_path(current_user) %>
            </li>
            <li>
              <%= link_to 'Create Project', new_project_url %>
            </li>
            <li>
              <%= link_to 'Log out', session_path(current_user), method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to 'Sign up', new_user_path %> |
            </li>
            <li>
              <%= link_to 'Log in', new_session_path %>
            </li>
            <% end %>
          </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
