<!DOCTYPE html>
<html>
  <head>
    <title>Collabz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <href="https://fonts.googleapis.com/css?family=noto+serif|raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <% if current_page?(controller: 'welcome', action: 'index') == false %>
        <header>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
          <div class="top-nav">
            <div class="top-nav-logo">
              <%= link_to 'ProjectSpace', projects_path, class: "logo" %>
              <%= image_tag 'logo.png', class: 'logo-img'%>
            </div>

            <nav class="main-nav" id="myMainnav">
              <ul>
                <% if current_user %>
                  <li>
                    <%= link_to 'Profile', user_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to 'Create Project', new_project_url %>
                  </li>
                  <li>
                    <%= link_to 'Log out', session_path(current_user), method: :delete %>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i></a>
                  </li>
                <% else %>
                  <li>
                    <%= link_to 'Home', projects_path, class: "current" %>
                  <li>
                  <li>
                    <%= link_to 'Sign up', new_user_path %>
                  </li>
                  <li>
                    <%= link_to 'Log in', new_session_path %>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i></a>
                  </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </header>

          <main>
            <% end %>
            <%= yield %>

          </main>
        <% if current_page?(controller: 'welcome', action: 'index') == false %>
          <footer>
            <section class="footer-top">
              <div class="bottom-nav">
                <nav class="nav"></nav>
                <ul>
                  <li>
                    <%= link_to 'Home', root_path, class: "current" %>
                  </li>
                  <li>
                    <%= link_to "about", about_url %>
                  </li>
                  <li>
                    <%= link_to "contact" %>
                  </li>
                  <li>
                    <%= link_to "careers" %>
                  </li>
                  <li>
                    <%= link_to "repo", "https://github.com/crdlcode/Collab" %>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="footer-bottom">
              <div class="copyright">
                <p>&copy;2018 Project Space</p>
              </div>
              <div class="social-media-flex">
                <ul>
                  <li>
                    <i class="fab fa-facebook"></i>
                  </li>
                  <li>
                    <i class="fab fa-instagram"></i>
                  </li>
                  <li>
                    <i class="fab fa-twitter"></i>
                  </li>
                  <li>
                    <i class="fab fa-google-plus-g"></i>
                  </li>
                </ul>
              </div>
            </div>

          </section>

        </footer>
      <% end %>
    </body>
  </html>
